.Hero-main-container {
    background-color: #E1E1E1;
}

.Hero-sub-container {
    background-color: rgba(121, 120, 120, 0.2);
    padding: 30px 50px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10%;
}

.Hero-sub-container-left {
    width: 50%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.Hero-sub-container-left-content {
    width: 100%;
}

.Hero-sub-container-right {
    width: 40%;
    height: 400px;
    background-color: rgba(225, 225, 225, 1);
}

.Hero-sub-container-left-p {
    background-color: rgba(225, 225, 225, 1);
    margin-bottom: 15px;
    height: 20px;
    width: 100%;
}

.Hero-sub-container-left-buttons {
    display: flex;
    gap: 20px;
}

.Hero-sub-container-left-button {
    height: 35px;
    width: 150px;
    background-color: rgba(225, 225, 225, 1);
}

@media (max-width:700px) {
    .Hero-sub-container {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .Hero-sub-container-left {
        width: 100%;
    }

    .Hero-sub-container-right {
        width: 100%;
    }

}

@media (max-width:650px) {
    .Hero-sub-container {
      padding: 30px 20px;  
    }

}