.HomeShop-main-container {
    background-color: rgba(244, 244, 244, 1);
    padding: 40px 20px;
}

.HomeShop-title {
    margin-bottom: 40px;
}

.HomeShop-cards-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    row-gap: 40px;
}

.HomeShop-image-container {
    border-radius: 20px;
    border: 1px solid rgba(236, 236, 236, 1);
}

.HomeShop-category {
    margin-top: 16px;
}

.HomeShop-cards-container a:hover .HomeShop-image-container {
    transform: translateY(-10px);
}

.HomeShop-cards-container a:hover .HomeShop-category {
    transform: translateY(-10px);
    color: rgba(200, 169, 107, 1);
}

@media (max-width:955px) {

    .HomeShop-cards-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:768px) {
    .HomeShop-cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:550px) {
    .HomeShop-cards-container {
        grid-template-columns: 1fr;
    }
}