.HomeMarquee-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 48px 0;
}

.HomeMarquee-card {
  max-width: 250px;
  flex-shrink: 0;
  padding: 20px 36px;
}

.HomeMarquee-card img {
  filter: saturate(0);
}

@media (max-width:650px) {
  .HomeMarquee-wrapper {
    padding: 15px 0;
  }

  .HomeMarquee-card {
    max-width: 150px;
    padding: 20px;
  }
}