.HomeMainBanner-main-container img {
    aspect-ratio: 1920 / 641;
}

.HomeMainBanner-content-container {
    top: 68%;
    left: clamp(197px,
            calc(197px + (260 - 197) * ((100vw - 950px) / (1920 - 950))),
            260px);
    transform: translateX(-50%);
}

.HomeMainBanner-button {
    border-radius: 37px;
    padding: 16px;
    width: 274px;
    display: inline-flex;
    transition: transform 0.5s cubic-bezier(0.25, 1.5, 0.5, 1);
}

.HomeMainBanner-button:hover {
    transform: translateY(-5px);
}

.HomeMainBanner-button-sub-container {
    bottom: -10px;
    left: 5%;
    width: 90%;
    height: 23px;
    background: rgba(95, 111, 82, 1);
    filter: blur(48px);
    border-radius: 50%;
    pointer-events: none;
    z-index: 0;
}

.HomeMainBanner-button span {
    z-index: 1;
}

@media (max-width:1450px) {
    .HomeMainBanner-button {
        padding: 8px;
    }

    .HomeMainBanner-button span {
        font-size: 18px;
    }
}

@media (max-width:950px) {
    .HomeMainBanner-button {
        width: auto;
        padding: 8px 16px;
    }


    .HomeMainBanner-content-container {
        left: clamp(110px,
                calc(110px + (132 - 110) * ((100vw - 551px) / (950 - 551))),
                132px);
    }
}

@media (max-width:550px) {
    .HomeMainBanner-main-container img {
        aspect-ratio: 11 / 6;
    }

    .HomeMainBanner-button span {
        font-size: 14px;
    }

    .HomeMainBanner-content-container {
        top: 68%;
    }

    .HomeMainBanner-content-container {
        left: clamp(80px,
                calc(80px + (100 - 80) * ((100vw - 300px) / (550 - 300))),
                100px);
    }
}