.HomeTrustPartners-main-container {
    background-color: #E1E1E1;
}

.HomeTrustPartners-title {
    margin-bottom: 100px;
}

.HomeTrustPartners-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.HomeTrustPartners-card {
    position: relative;
}

.HomeTrustPartners-top-image {
    background-color: #A6A6A6;
    width: 85px;
    height: 85px;
    position: absolute;
    top: -42.5px;
    left: 20px;
}

.HomeTrustPartners-contents {
    min-width: 380px;
    height: 200px;
    border-radius: 25px;
    background-color: #BAB8B8;
}

.HomeTrustPartners-description {
    margin-top: 60px;
    width: 80%;
    height: 25px;
    background-color: #BAB8B8;
}


@media (max-width:1330px) {

    .HomeTrustPartners-cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
    }

}

@media (max-width:955px) {

    .HomeTrustPartners-cards-container {
        grid-template-columns: 1fr;
    }

    .HomeTrustPartners-contents {
        min-width: auto;
        height: 400px;
    }

}