.HomeBestSeller-main-container {
    background-color: #E1E1E1;
}

.HomeBestSeller-title-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 70px;
}

.HomeBestSeller-button {
    height: 80px;
    width: 80px;
    background-color: #A6A6A6;
    border-radius: 100%;
}

.HomeBestSeller-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.HomeBestSeller-card {
    position: relative;
}

.HomeBestSeller-card:nth-of-type(2) {
    margin-top: 50px;
}

.HomeBestSeller-top-image {
    background-color: #A6A6A6;
    width: 80px;
    height: 80px;
    margin-left: auto;
}

.HomeBestSeller-contents {
    min-width: 380px;
    height: 400px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: #BAB8B8;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.HomeBestSeller-description-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: auto;
}

.HomeBestSeller-description {
    width: 50%;
    height: 25px;
    background-color: #A6A6A6;
}


@media (max-width:1330px) {

    .HomeBestSeller-cards-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 100px;
    }

    .HomeBestSeller-card:nth-of-type(2) {
        margin-top: 0;
    }

}

@media (max-width:955px) {

    .HomeBestSeller-cards-container {
        grid-template-columns: 1fr;
    }

    .HomeBestSeller-contents {
        min-width: auto;
        height: 400px;
    }

}