.HomeSliderBanner-main-container {
    background-color: #E1E1E1;
}

.HomeSliderBanner-sub-container {
    height: 80dvh;
}

.HomeSliderBanner-contents-container {
    background-color: white;
}

.HomeSliderBanner-top-content {
    height: 70px;
    width: 25%;
    min-width: 500px;
    background-color: #E1E1E1;
    margin-bottom: 25px;
}

.HomeSliderBanner-p {
    width: 100%;
    background-color: #E1E1E1;
    height: 30px;
    margin-bottom: 20px;
}

.HomeSliderBanner-bottom-content {
    height: 70px;
    width: 25%;
    min-width: 500px;
    background-color: #E1E1E1;
}

@media (max-width:700px) {
    .HomeSliderBanner-top-content {
        width: 90%;
        min-width: auto;
    }

    .HomeSliderBanner-bottom-content {
        width: 90%;
        min-width: auto;
    }
}