.TopSlider-wrapper {
  height: 48px;
  margin-top: 32px;
  width: 100%;
  overflow: hidden;
}

.TopSlider-track {
  display: flex;
  height: 100%;
  will-change: transform;
}

.TopSlider-slide {
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fff;

  background: linear-gradient(
    90.05deg,
    #a9b388 1.17%,
    #828c71 34.04%,
    #5b6559 97.44%
  );
}